*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  scroll-behavior: smooth;
}

header {
  background-color: #1a2238;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo {
  margin-right: auto;
  display: flex;
  gap: 6px;
}

.logo-img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

.logo-title {
  margin-left: 5px;
  cursor: pointer;
}

.logo:hover {
  color: #FF6A3D;
  transition: all .5s ease 0s;
  transform: rotate(2deg);
}

nav ul{
  display: flex;
  padding: 16px;
}

li {
  list-style-type: none;
  padding: 5px;
}

li a {
  display: inline-block;
  transition: all .5s ease 0s;
}

li a:hover {
  color: #FF6A3D;
  transform: rotate(2deg);
}

a {
  color: white;
  text-decoration: none;
}

.btn-cta {
  margin-right: 5px;
  border: none;
  font-size: 10px;
  padding: 6px 12px;
  background: #FF6A3D;
  color: #eaeaea;
  border-radius: 8px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.description {
  font-size: 28px;
  font-weight: bolder;
}

.img-foto {
  width: 100%;
  height: auto;
  padding: 10px;
  max-width: 500px;
}

.parallax {
  background-image: url('/asset/foto/ha.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #1a2238;
  color: white;
  padding: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card-item {
  text-align: center;
  width: 25%;
  background: #f7f7f7;
  color: #222;
  padding: 24px;
  box-shadow: 2px 5px 1px 5px rgba(0, 0, 0, 0.5);
}

.card-title {
  font-size: 18px;
  font-weight: bolder;
}

.card-description {
  font-size: 14px;
  margin-top: 4px;
}

.icon {
  width: 75px;
  height: 75px;
  margin: 10px;
  padding: 4px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #1a2238;
  color: #eaeaea;
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }
  .intro {
    margin-top: 20px;
  }
  .card {
    flex-direction: column;
    gap: 0;
  }
  .card-item {
    width: 100% ;
  }
  .container {
    padding: 0;
    max-width: 100%;
  }
  .img-foto {
    padding: 0;
  }
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1a2238;
    z-index: 9;
  }
  footer {
    margin-bottom: 70px;
  }
}